body {
  background-color: #55ACEE;
  color: white;
  text-align: center;
}

button {
  background-color: #55ACEE;
  border : 1px solid #FFF;
  color: white;
  margin: 20px;
  width: 200px;
}

button:hover {
  background-color: #FFF;
  color: #55ACEE;
  cursor: pointer;
}

button a {
  color: white;
}

button:hover a {
  color: #55ACEE;
}

button i {
  margin-right: 0.5rem;
}